.App {
  font-family: sans-serif;
  text-align: center;
}

.cell {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.live.cell {
  background-color: green;
}

.dead.cell {
  background-color: saddlebrown;
}
