.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  /* Hack to remove whitespace between rows */
  font-size: 0;
}

.cell {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.live.cell {
  background-color: black;
}

.dead.cell {
  background-color: white;
}
